<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /> 
  </head>
  <body>
    <h1>Hey, <%= @user.username %></h1>
    <p>
      Click on the link bellow to log in.
    </p>
    <a href="http://abhshopdemo.herokuapp.com/sign_in">Log in</a>
  </body>
</html>