<div id='dashboard-title' class='row'>
	<ul class='list-inline'>
		<li><p>DASHBOARD</p></li>
		<li><p>OBUCA</p></li>
		<li><%= link_to 'KORISINICI', admin_users_path %></li>
	</ul>
</div>
<div id='dashboard-container' class='row' style='text-align: center'>

	<div class='col-md-4'>
		<a href="#">
			<div class='col-md-12'>
		     <p>126</p>
		     <p class='small-text'>kategorija</p>
			</div>	
			<div class='col-md-6 col-md-offset-3'>
				<p>DODAJ KATEGORIJE</p>
			</div>
		</a>
	</div>

	<div class='col-md-4'>
		<a href="#">
			<div class='col-md-12'>
		     <p>5412</p>
		     <p class='small-text'>obuca</p>
			</div>	
			<div class='col-md-6 col-md-offset-3'>
				<p>DODAJ OBUCU</p>
			</div>
		</a>
	</div>

	<div class='col-md-4'>
		<a href="#">
			<div class='col-md-12'>
		     <p>412</p>
		     <p class='small-text'>korisnici</p>
			</div>	
			<div class='col-md-6 col-md-offset-3'>
				<p>DODAJ KORISNIKE</p>
			</div>
		</a>
	</div>
</div>