<% content_for :nav, render('welcome/navbar') %>
<div id='home-screen'>
  <div class='row'>
    <span>POPULARNO</span>
    <div class='pull-right'>
      <span style='margin-right: 10px'>PRETRAZI</span>
      <span class='glyphicon glyphicon-search'></span>
    </div>
  </div>
  
  <div class='row'>
    <% @products.each do |product| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="<%= product.photo_url %>" alt="...">
        </div>
        <div class="caption">
          <h4><%= product.title %></h3>
          <p><%= product.price %>KM</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
