<% content_for :nav, render('welcome/navbar') %>
<div id='home-screen'>
  <div id='popularno'>
    <%= render 'welcome/popular' %>
  </div>
  <div id='sale'>
    <%= render 'welcome/sale' %>
  </div>
</div>