<div class="row">
  <table class='table table-bordered table-hover'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Proizvod</th>
        <th>Boja</th>
        <th>Velicina</th>
        <th>Kolicina</th>
        <th>Cijena</th>
      </tr>
    </thead>
    <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <% if cart.order.nil? %>
          <% next %>
        <% else %>
        <td><%= cart.order.id %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>