@import 'dashboard';
@import 'categories';
@import 'products';
@import 'users';

th {
	color: #AFAFAF;
	font-size: 12px;
}

th, td {
	padding-left: 20px !important;
}

tbody {
	font-size: 13px;
	color: black;
}

.admin-icon {
	font-size: 12px !important;
	color: #AFAFAF;
}

.create-new {
	padding: 12px !important;
	background-image: linear-gradient(-180deg, #46424D  0%, #675E66  100%);
	position: absolute;
  right: 207px;
  top: 78px;
  border-left: 10px solid white;
  a {
  	color: white !important;
  }
}

li, td { 
	cursor: pointer; 
}

