#promote-button {
  background-color: transparent;
  border: 0;
  padding: 0px;
  padding-bottom: 2px;
}
#demote-button {
  background-color: transparent;
  border: 0;
  padding: 0px;
  padding-bottom: 2px;
}

.btn.odustani {
  border: 1px solid #BF9E9E;
  border-radius: 0px;
  padding: 10.2px 20px;
  margin-right: 10px;
  font-size: 11px;
  color: black;
}
