<div id='dashboard-title' class='row'>
	<ul class='list-inline'>
		<%= render 'admin/dashboard/navbar/links' %>
		<li class='pull-right'><%= link_to 'DODAJ OBUCU', new_admin_product_path %></li>
	</ul>
</div>