// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reset-password {
  font-size: 12px !important;
  margin-top: 10px;
}

#password_reset_email {
  border-radius: 0px;
}

.text-recover-account {
  padding: 10px 0px;
  border-top: 1px solid #ccc;
  width: 63%;
}