.product-left {
  border-right: 1px solid #DCDCDC;
  padding: 10px 50px 80px 30px;
}

.product-right {
  padding: 10px 30px 80px 50px;
  font-size: 15px;
}

#title {
	margin-bottom: 30px
}

#description {
	margin-bottom: 30px;
}

#size {
	display: inline-block;
	> label {
		display: block;
	}
}

#quantity {
	display: inline-block;
}

#price {
	display: inline-block;
}