.product-left {
  border-right: 1px solid #DCDCDC;
  padding: 10px 50px 80px 30px;
}

.product-right {
  padding: 10px 30px 80px 50px;
  font-size: 15px;
}

#title {
  margin-bottom: 30px
}

#description {
  margin-bottom: 30px;
}

#size {
  display: inline-block;
  margin-right: 8px;
  > label {
    display: block;
    font-weight: normal;
    margin-bottom: 8px;
  }
  > select {
    width: 100px;
    height: 25px;
    background-color: transparent;
    border-radius: 4px;
    border-color: #ccc;
  }
}

/*div .btn-group.bootstrap-select {
  width: 50px;
  margin-bottom: 0px;
  line-height: normal;
  vertical-align: baseline;
  button {
    background-color: transparent;
    width: 100%;
  }
}
*/
#quantity {
  display: inline-block;
  > input {
    width: 55px;
    height: 25px;
    border-radius: 4px;
    text-align: center;
  }
}
#quantity h5 {
  font-size: 15px;
}

#price {
  margin-left: 10px;
  display: inline-block;
  >p {
    font-weight: bold;
    margin: 0px;
  }
}

#price h5 {
  margin-bottom: 14px;
  font-size: 15px;
}

#color {
  display: inline-block;
  margin-right: 8px;
  > label {
    display: block;
    font-weight: normal;
    margin-bottom: 8px;
  }
  > select {
    height: 25px;
    background-color: transparent;
    border-radius: 4px;
    border-color: #ccc;
  }
}

#cartitem {
  background-color: transparent;
  color: black;
  font-size: 12px;
}

#cartitem:hover {
  border-color: #ccc;
}

.similar {
  > p {
    color: #909090;
  }
}

select, option { 
  cursor: pointer; 
}

#similar-products .thumbnail {
  border: 0px;
  margin: 30px;
  color: black;
}

#similar-products .img-responsive {
  max-width: 100%;
  max-height: 100%;
}

#discount-similar-product {
  position: absolute;
  font-size: 15px;  
  top: 1%;
  left: 62%;
}

#discount-product {
  position: absolute;
  font-size: 25px;  
  top: 0%;
  left: 65%;
}

#new_cart_item #color {
  width: 50px;
}

#product_variant_color_id {
  outline: none !important;
  width: 100%;
}

#product_variant_color_id option {
  width: 30% !important;
}