<div id='dashboard-title' class='col-md-10'>
	<ul class='list-inline'>
		<%= render 'admin/dashboard/navbar/links' %>
	</ul>
</div>
<div class='col-md-2'>
  <%= link_to "DODAJ KORISNIKA", new_admin_user_path, class: 'btn create-new pull-right'  %>
</div>