<div id='dashboard-title' class='row'>
	<ul class='list-inline'>
		<%= render 'admin/dashboard/navbar/links' %>
		<li class='pull-right create-new'><%= link_to 'DODAJ KORISNIKE', new_admin_user_path %></li>
	</ul>
</div>