<h1>Users</h1>

<% @users.each do |user| %>
<ul>
  <li><%= user.first_name %>
    <%= form_for @promote, url:  { action: 'create', controller: 'users'}, 
                html: { :style => 'display: inline-block;' } do |f| %>
      <%= f.hidden_field :user_id, :value => user.id %>
      <%= f.submit 'Promote', name: nil, class: 'btn btn-primary btn-xs' %>
    <% end %>
  </li>
</ul>
<% end %>