<h1>Users</h1>

<% @users.each do |user| %>
<ul>
  <li><%= user.first_name %>
    <span><%= button_to "Promote", admin_promote_path  %></span>
    <span><%= button_to "Demote", '#'  %></span>
  </li>
</ul>
<% end %>