<div id='footer' class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">Copyright@abhshoesdemo. All rights reserverd</p>
    
   	<div class='collapse navbar-collapse'>
      <ul class="nav navbar-nav navbar-right">
        <% Category.all.each do |category| %>
          <li><%= link_to category.title.mb_chars.downcase.capitalize, '#' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>